.mainBackground{
    background-image: url('./assets/tokyo-art.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 135vh;
    display: flex;
    justify-content: center;
    align-items: center;
}